#vsb
{
    max-width: 1200px;
    margin:auto;
}

#vsb label
{
    display:block;
    font-size: 14px;
    color:#666666;
}
#vsb label.validation-error
{
    font-weight: bold;
    color: red;
}

#vsb .vsb_dates
{
    float: left;
    width: -webkit-calc(-webkit-calc(100% / 3) * 2);
    width: -moz-calc(-moz-calc(100% / 3) * 2);
    width: calc(calc(100% / 3) * 2);
    width: -webkit-calc((100% / 3) * 2);
    width: -moz-calc((100% / 3) * 2);
    width: calc((100% / 3) * 2);
    margin-bottom: 40px;
}
#vsb .vsb_dates .vsb_date
{
    float: left;
    width: -webkit-calc(50% - 20px);
    width: -moz-calc(50% - 20px);
    width: calc(50% - 20px);
}
#vsb .vsb_dates .vsb_date input[type=date]
{
    font-size: 18px;
    line-height: 30px;
    width: 100%;
    padding: 8px;
    border: 1px solid #666;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
#vsb .vsb_dates .vsb_date.vsb_date_arrival
{
    margin-right: 20px;
}
#vsb .vsb_dates .vsb_date.vsb_date_depart
{
    margin-right: 0;
}

#vsb .vsb_rooms_controls
{
    float: left;
    width: -webkit-calc(-webkit-calc(100% / 3) * 1);
    width: -moz-calc(-moz-calc(100% / 3) * 1);
    width: calc(calc(100% / 3) * 1);
    width: -webkit-calc((100% / 3) * 1);
    width: -moz-calc((100% / 3) * 1);
    width: calc((100% / 3) * 1);
    margin-bottom: 40px;
}
#vsb .vsb_rooms_controls input[type=number],
#vsb .vsb_rooms_controls input[type=text]
{
    font-size: 18px;
    line-height: 30px;
    width: 3em;
    padding: 8px;
    border: 1px solid #666;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-right:10px;
    display: inline-block;
    text-align: center;
}
#vsb .vsb_rooms_controls input[type=button]
{
    border: 1px solid #666666;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7em;
    padding: .3em 1em;
    -webkit-transition: color 300ms ease 0ms,background-color 300ms ease 0ms;
    -o-transition: color 300ms ease 0ms,background-color 300ms ease 0ms;
    -moz-transition: color 300ms ease 0ms,background-color 300ms ease 0ms;
    transition: color 300ms ease 0ms,background-color 300ms ease 0ms;
    margin-right:10px;
    display: inline-block;
}
#vsb .vsb_rooms_controls input[type=button]:last-of-type{
    margin-right:0;
}

#vsb .vsb_rooms
{
    clear: both;
    margin-bottom: 40px;
}
#vsb .vsb_rooms .vsb_room
{
    margin-bottom: 10px;
}
#vsb .vsb_rooms .vsb_room .people
{
    display: inline-block;
    width: -webkit-calc(100% / 3);
    width: -moz-calc(100% / 3);
    width: calc(100% / 3);
}
#vsb .vsb_rooms .vsb_room .people > label
{
    font-weight: bold;
    margin-right: 20px;
    border-bottom: 1px solid #666666;
    display: block;
    margin-bottom: 10px;
}
#vsb .vsb_rooms .vsb_room .people .adults,
#vsb .vsb_rooms .vsb_room .people .children
{
    width: -webkit-calc(50% - 3px);
    width: -moz-calc(50% - 3px);
    width:calc(50% - 3px);
    display:inline-block;
    margin-bottom: 10px;
}
#vsb .vsb_rooms .vsb_room .people select
{
    font-size: 18px;
    line-height: 30px;
    width: 3em;
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #666;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#vsb .vsb_rooms .vsb_room .ages
{
    display: inline-block;
    width: -webkit-calc(-webkit-calc(-webkit-calc(100% / 3) * 2) - 5px);
    width: -moz-calc(-moz-calc(-moz-calc(100% / 3) * 2) - 5px);
    width: calc(calc(calc(100% / 3) * 2) - 5px);
    width: -webkit-calc(((100% / 3) * 2) - 5px);
    width: -moz-calc(((100% / 3) * 2) - 5px);
    width: calc(((100% / 3) * 2) - 5px);
}
#vsb .vsb_rooms .vsb_room .age
{
    display: inline-block;
    width: -webkit-calc(100% / 4);
    width: -moz-calc(100% / 4);
    width: calc(100% / 4);
}
#vsb .vsb_rooms .vsb_room .ages .age select
{
    font-size: 18px;
    line-height: 30px;
    width: 3em;
    padding: 8px;
    border: 1px solid #666;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-bottom: 10px;
}

#vsb .vsb_submit
{
    margin-bottom: 30px;
}
#vsb .vsb_submit input[type=submit]
{
    border: 1px solid #666666;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.7em;
    padding: .3em 1em;
    -webkit-transition: color 300ms ease 0ms,background-color 300ms ease 0ms;
    -o-transition: color 300ms ease 0ms,background-color 300ms ease 0ms;
    -moz-transition: color 300ms ease 0ms,background-color 300ms ease 0ms;
    transition: color 300ms ease 0ms,background-color 300ms ease 0ms;
}
#vsb .vsb_submit label
{
    display: block;
}

@media (max-width:768px)
{
    #vsb .vsb_dates
    {
        width: 100%;
    }
    #vsb .vsb_dates .vsb_date
    {
        width: 100%;
    }
    #vsb .vsb_dates .vsb_date.vsb_date_arrival,
    #vsb .vsb_dates .vsb_date.vsb_date_depart
    {
        margin-right: 0;
    }
    #vsb .vsb_rooms_controls,
    #vsb .vsb_rooms .vsb_room .people,    
    #vsb .vsb_rooms .vsb_room .ages
    {
        width: 100%;
    }
    #vsb .vsb_rooms .vsb_room .people .adults,
    #vsb .vsb_rooms .vsb_room .people .children,
    #vsb .vsb_rooms .vsb_room .age
    {
        display: inline-block;
        width: -webkit-calc(-webkit-calc(100% / 2) - 5px);
        width: -moz-calc(-moz-calc(100% / 2) - 5px);
        width: calc(calc(100% / 2) - 5px);
        width: -webkit-calc((100% / 2) - 5px);
        width: -moz-calc((100% / 2) - 5px);
        width: calc((100% / 2) - 5px);
    }
}

#vsb.miniform label
{
    float: left;
    font-size: 14px;
    line-height: 35px;
    margin-right: 10px;
}
#vsb.miniform label.validation-error{
    float: none;
}
#vsb.miniform .vsb_dates
{
    width: -webkit-calc(((100% - 40px) / 5) * 3);
    width: -moz-calc(((100% - 40px) / 5) * 3);
    width: -webkit-calc(-webkit-calc(-webkit-calc(100% - 40px) / 5) * 3);
    width: -moz-calc(-moz-calc(-moz-calc(100% - 40px) / 5) * 3);
    width: calc(calc(calc(100% - 40px) / 5) * 3);
    width: calc(((100% - 40px) / 5) * 3);
    margin-bottom: 0;
    margin-right: 20px;
}
#vsb.miniform .vsb_dates .vsb_date
{
    float: left;
    width: -webkit-calc(50% - 20px);
    width: -moz-calc(50% - 20px);
    width: calc(50% - 20px);
}
#vsb.miniform .vsb_dates .vsb_date input[type=date]
{
    font-size: 14px;
    line-height: 14px;
    padding: 6px;
    width: -webkit-calc(50% - 10px);
    width: -moz-calc(50% - 10px);
    width: calc(50% - 10px);
}

#vsb.miniform .vsb_rooms_controls
{
    width: -webkit-calc(-webkit-calc(100% - 40px) / 5);
    width: -moz-calc(-moz-calc(100% - 40px) / 5);
    width: calc(calc(100% - 40px) / 5);
    width: -webkit-calc((100% - 40px) / 5);
    width: -moz-calc((100% - 40px) / 5);
    width: calc((100% - 40px) / 5);
    margin-bottom: 0;
    margin-right: 20px;
}
#vsb.miniform .vsb_rooms_controls input[type=number]
{
    font-size: 14px;
    line-height: 14px;
    width: 3em;
    padding: 8px;
    margin-right: 0;
}
#vsb.miniform .vsb_rooms_controls input[type=button]
{
    font-size: 14px;
    line-height: 14px;
    padding: 10px 1em!important;
    margin-right: 0;
}

#vsb.miniform .vsb_submit
{
    clear: none;
    float:left;
    width: -webkit-calc(-webkit-calc(100% - 40px) / 5);
    width: -moz-calc(-moz-calc(100% - 40px) / 5);
    width: calc(calc(100% - 40px) / 5);
    width: -webkit-calc((100% - 40px) / 5);
    width: -moz-calc((100% - 40px) / 5);
    width: calc((100% - 40px) / 5);
    margin-bottom: 0;
    margin-right: 0;
}
#vsb.miniform .vsb_submit input[type=submit]
{
    font-size: 14px;
    line-height: 14px;
    padding: 10px 1em!important;
}

@media (max-width:1280px) and (min-width: 981px)
{
    #vsb.miniform .vsb_dates
    {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    #vsb.miniform .vsb_rooms_controls,
    #vsb.miniform .vsb_submit
    {
        width: -webkit-calc(50% - 20px);
        width: -moz-calc(50% - 20px);
        width: calc(50% - 20px);
        margin-right: 20px;
    }
    #vsb.miniform .vsb_submit
    {
        margin-right: 0;
    }
}
@media (max-width:980px) and (min-width: 481px)
{
    #vsb.miniform .vsb_dates
    {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0;
    }
    #vsb.miniform .vsb_rooms_controls,
    #vsb.miniform .vsb_submit
    {
        width: -webkit-calc(50% - 20px);
        width: -moz-calc(50% - 20px);
        width: calc(50% - 20px);
        margin-right: 20px;
    }
    #vsb.miniform label
    {
        float: none;
        margin-right: 0;
        margin-bottom: 5px;
    }
    #vsb.miniform .vsb_dates .vsb_date
    {
        width: 100%;
    }
    #vsb.miniform .vsb_dates .vsb_date input[type=date]
    {
        width: 100%;
    }
    #vsb.miniform .vsb_submit
    {
        margin-top: 40px;
    }
}
@media (max-width:480px)
{
    #vsb.miniform .vsb_dates
    {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0;
    }
    #vsb.miniform .vsb_rooms_controls
    {
        width: -webkit-calc(70% - 20px);
        width: -moz-calc(70% - 20px);
        width: calc(70% - 20px);
        margin-right: 20px;
    }
    #vsb.miniform .vsb_submit
    {
        width: -webkit-calc(30% - 20px);
        width: -moz-calc(30% - 20px);
        width: calc(30% - 20px);
        margin-right: 0;
    }
    #vsb.miniform label
    {
        float: none;
        margin-right: 0;
        margin-bottom: 5px;
    }
    #vsb.miniform .vsb_dates .vsb_date
    {
        width: 100%;
    }
    #vsb.miniform .vsb_dates .vsb_date input[type=date]
    {
        width: 100%;
    }
    #vsb.miniform .vsb_submit
    {
        margin-top: 40px;
    }
}